<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag 'favicon.ico' %>
	<title>Bootstrap Demo</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<script>
		SyntaxHighlighter.all()
		//= require syntax-highlighter-rails/shCore
		//= require syntax-highlighter-rails/shBrushCpp
	</script>
	
</head>

<body>

	

</body>

