<%provide(:page, "Bootstrap Carousels") %>
<%provide(:prev, pages_panels_path) %>
<%provide(:next, pages_modal_windows_path) %>

<h4 class='bluish'>1. Topic:</h4>
<div class='row'>
	<div class="col-xs-7 col-xs-offset-1">
		
		Description
		
	</div><div class="col-xs-4"></div>
</div>
<div class='row'>
	<div class="col-xs-4">
		
		<div class="carousel slide" id="carousel-example" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="carousel-example" data-slide-to=""></li>
				<li data-target="carousel-example" data-slide-to=""></li>
				<li data-target="carousel-example" data-slide-to=""></li>
			</ol>
		</div>
		<div class="carousel-inner">
			<div class="item">
				<img src="" alt="Slide"></img>
				<img src="" alt="Slide"></img>
				<img src="" alt="Slide"></img>
			</div>
		</div>
	</div>
	<div class="col-xs-6">
		<xmp>
			
CODE
			
		</xmp>
	</div>
</div>
	

<h4 class='bluish'>2. Topic:</h4>
<div class='row'>
	<div class="col-xs-7 col-xs-offset-1">
		
		Description
		
	</div><div class="col-xs-4"></div>
</div>
<div class='row'>
	<div class="col-xs-4">
		
		DISPLAY
		
	</div>
	<div class="col-xs-6">
		<xmp>
			
CODE 
			
		</xmp>
	</div>
</div>
			

<h4 class='bluish'>3. Topic:</h4>
<div class='row'>
	<div class="col-xs-7 col-xs-offset-1">
		
		Description
		
	</div><div class="col-xs-4"></div>
</div>
<div class='row'>
	<div class="col-xs-4">
		
		DISPLAY
		
	</div>
	<div class="col-xs-6">
		<xmp>
			
CODE
			
		</xmp>
	</div>
</div>
 
 
 .carousel.slide[data-ride='carousel']#carousel-example
 	ol.carousel-indicators>li[data-target='carousel-example'][data-slide-to'0']*3
 	.carousel-inner>.item>img[src=''][alt='Slide']*3