<div class="hacker">
  
<%= link_to root_path do %>  
  <div class="well text-center link">
    <h1 class="link">Bootstrap Demo</h1>
  </div>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-xs-9 col-xs-offset-1 text-center">
        <h2>The Grid System<h2>
      </div>
      <div class="col-xs-2">
        <%= link_to "Next", pages_buttons_path, class: 'btn btn-default btn-ghost' %>
      </div>
    </div>
  </div>

  <div class="container demo-container"><br>
    The orange border is there to show you that this is a div with the bootstrap container class.<br>
    <div class="row"><br>
      <div class="col-xs-12 demo-row">
        The red border is to reveal a div with the bootstrap row class inside the container div
      </div>
    </div><br>
     A row has a total of  width of 12 columns regardless of screen size.
    <div class ="row"><br>
      <div class="col-xs-1 demo-col">1</div>
      <div class="col-xs-1 demo-col">2</div>
      <div class="col-xs-1 demo-col">3</div>
      <div class="col-xs-1 demo-col">4</div>
      <div class="col-xs-1 demo-col">5</div>
      <div class="col-xs-1 demo-col">6</div>
      <div class="col-xs-1 demo-col">7</div>
      <div class="col-xs-1 demo-col">8</div>
      <div class="col-xs-1 demo-col">9</div>
      <div class="col-xs-1 demo-col">10</div>
      <div class="col-xs-1 demo-col">11</div>
      <div class="col-xs-1 demo-col">12</div>
    </div><br>
    Each of the green boxes is a div with the class of col-xs-1 which is one row. 
    These 12 divs are nested in single div with the class row, which is nested
    in a div with the class container. xs stands for an extra small screen as 
    in a mobile phone. The div's retain their status as being one column each 
    all the way down to the smallest screens. The arrangement will look the 
    same anywhere. see code below:
    <xmp class="col-sm-6">
  <div class="container">
    <div class ="row">
      <div class="col-xs-1">1</div>
      <div class="col-xs-1">2</div>
      <div class="col-xs-1">3</div>
      <div class="col-xs-1">4</div>
      <div class="col-xs-1">5</div>
      <div class="col-xs-1">6</div>
      <div class="col-xs-1">7</div>
      <div class="col-xs-1">8</div>
      <div class="col-xs-1">9</div>
      <div class="col-xs-1">10</div>
      <div class="col-xs-1">11</div>
      <div class="col-xs-1">12</div>
    </div>
  </div>
    </xmp>
  </div><br><br>

  <div class="container demo-container"><br>
    xs rows will be the side by side on all screen sizes but if you specified lg 
    instead, the rows would collapse into being stacked vertically on any screen 
    smaller than large screens, which is defined as 1170px wide. md would stack 
    if less than 970px and sm would at 750px. Shrink the screen to watch these collapse:<br><br>
    <div class ="row">
      <div class="col-md-4 demo-col">col-md-4</div>
      <div class="col-md-4 demo-col">col-md-4</div>
      <div class="col-md-4 demo-col">col-md-4</div>
    </div>
    <br>
  </div><br><br>
  
  <div class="container demo-container"><br>
    The div's below will size differently on different screen sizes because they 
    given multiple attributes. Resize the screen to watch them change classes. <br><br>
    <div class="row">
      <div class="col-xs-11 col-sm-9 col-md-3 col-lg-1 demo-col">I'm bigger on smaller screens</div>
      <div class="col-xs-1 col-sm-3 col-md-9 col-lg-11 demo-col">I'm bigger on bigger screens</div>
    </div>
    <xmp>
  <div class="col-xs-11 col-sm-9 col-md-3 col-lg-1">I'm bigger on smaller screens</div>
  <div class="col-xs-1 col-sm-3 col-md-9 col-lg-11">I'm bigger on bigger screens</div>
    </xmp>
  </div><br><br>

  <div class="container demo-container"><br>
    You can use offset to add a little empty space to the left. Add empty space 
    to the right side of the entire row simply by not adding up to 12 before closing 
    the div with the class row<br><br>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2 demo-col">-> Offset by 2</div>
      <div class="col-sm-4 text-right demo-col">there are two empty rows here -></div>
    </div>
    <xmp>
  <div class="col-sm-4 col-sm-offset-2">-> Offset by 2</div>
  <div class="col-sm-4 text-right">there are two empty rows here -></div>
    </xmp>
    Note that text-right is a bootstrap, along with text-left and text-center.<br><br>
  </div>
</div><br><br>

  <div class="container">
    <div class="row">
      <div class="col-xs-2 col-xs-offset-10">
        <%= link_to "Next", pages_buttons_path, class: 'btn btn-default btn-ghost' %>
      </div>
    </div>
  </div>
