@import "bootstrap-sprockets";
@import "bootstrap";
/*
.darkest-bg   { background-color: #101010; }
.darkest-bg-r { background-color: #1F1010; }
.darkest-bg-g { background-color: #101F10; }
.darkest-bg-b { background-color: #10101F; }

.darker-bg    { background-color: #303030; }
.darker-bg-r  { background-color: #3F3030; }
.darker-bg-g  { background-color: #303F30; }
.darker-bg-b  { background-color: #30303F; }

.dark-bg      { background-color: #404040; }
.dark-bg-r    { background-color: #4F4040; }
.dark-bg-g    { background-color: #404F40; }
.dark-bg-b    { background-color: #40404F; }

.grey-bg      { background-color: #606060; }
.grey-bg-r    { background-color: #6F6060; }
.grey-bg-g    { background-color: #606F60; }
.grey-bg-b    { background-color: #60606F; }

.lightest-txt  { color: #f0f0f0; }
.lighter-txt   { color: #d0d0d0; }
.light-txt     { color: #b0b0b0; }
.neutral-txt   { color: #909090; }
*/
.jr-dark-body { color: #ffffd0; background-color: #404040; }
.black-text   { color: #444; }
.bluish { color: #bbddee; }
.blacknav     { color: #ffffd0 !important; background-color: #333333 !important; }
.jumbotron    { color: #ffffd0 !important; background-color: #606F60 !important; }
.well         { color: #ddd !important; background-color: #3f3f3f !important; border-color: #666 !important;}
.greenwell    { color: #ffffd0 !important; background-color: #606F60 !important; }
.nav-spacer   { padding-top: 60px; }

/* disable navbar collapse */
.navbar-collapse.collapse           { display: block!important; }
.navbar-nav>li, .navbar-nav         { float: left !important; }
.navbar-nav.navbar-right:last-child { margin-right: -15px !important; }
.navbar-right                       { float: right!important; }

// for syntax highlighter
//*= require syntax-highlighter-rails/shCore
//*= require syntax-highlighter-rails/shThemeDefault

a:hover, a:focus { text-decoration: none !important; }

.dark-bg-g    { background-color: #404347; }

.border-orange { outline: 1px solid orange;  }
.border-red    { outline: 1px solid red;     }
.border-green  { outline: 1px solid #20f030; }

.btn-ghost{
	background: transparent !important;
	color: #F2F2F2 !important;
	/* CSS Transition */
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;
}

.spacer { margin-top: 40px; }

xmp {
	border:1px solid #999;
	background-color: #444;
	text-align: left;
	color: #cceeff;
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
	font-size: 85%;
	tab-size: 3;
}


// @media (max-width: 978px) {
// 	.container { padding:0; margin:0; }
// 	body       { padding:0; }
	
// 	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
// 		margin-left: 0;
// 		margin-right: 0;
// 		margin-bottom:0;
// 	}
// }
/*
					 
none
	brown yellow  
	orange 
	green 
peach
olive army
lime
turqoise aqua cyan
 bluish baby blue navy
pink magenta red
	purple violet
*/
/*
Luminisity: lightest lighter light neutral dark darker darkest
Saturation -ish - -est


*/